<%- include('./partials/header') %>
<form id="review-page" action="/resources" method="GET">
  <button type="submit">Resources</button>
</form>
<form id="resort-page" action="/resorts" method="GET">
  <button type="submit">Resorts</button>
</form>
<%- include('./partials/footer') %>
