<%- include('../partials/header') %>
<form id="add-resort-form" action="/resorts/new/add" method="POST">
  <label>Resort Name:</label>
  <input type="text" name="resortName" />
  <label>Location:</label>
  <input type="text" name="location" />
  <label>Start Date:</label>
  <input type="date" name="startDate" min="<%=todayDate%>" />
  <label>End Date:</label>
  <input type="date" name="endDate" min="<%=todayDate%>" />
  <label>Pass Used:</label>
  <select name="passUsed">
    <option value="Epic">Epic</option>
    <option value="Ikon">Ikon</option>
    <option value="Resort">Resort</option>
    <option value="Other">Other</option>
  </select>
  <label>Budget:</label>
  <input type="number" name="budget" />
  <label>Website:</label>
  <input type="text" name="website" />
  <label>Transportation:</label>
  <input type="text" name="transportation" />
  <label>Closest Airport:</label>
  <input type="text" name="airport" />
  <label>Review:</label>
  <input type="text" name="review" />
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <button type="submit">Submit Destination</button>
</form>

<!-- <form id="add-review-form" action="/resorts/new" method="POST"></form>

</form> -->

<!-- min="<?php echo date("Y-m-d"); ?>" -->

<%- include('../partials/footer') %>
