<%- include('../partials/header') %>
<p>
  Your upcoming trip to
  <a href="/resorts/<%= resort._id%>/resortName %>"><%=resort.resortName%></a>
</p>
<%- include('../partials/footer') %>

<!-- located in **Colorado, US** is scheduled for **December 5th to December 7th**. 

    This resort is on the **Epic** pass and you have budgeted **$500** for the trip. You are planning to **fly** into **Denver International Airport. ** -->
